<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dura_Flow_System.Properties.Settings.DuraGroupConnectionString"
            connectionString="Data Source=SAMAWIA\MSSQLSERVER02;Initial Catalog=DuraGroup;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>